<div class="section">
                                    
    <div class="container   zoomIn " id="sec">
        <b><h2 class="text-center" style="font-weight: bolder">Get in Touch Now!</h2></b>
      <b>  <h2 class="text-center">Feel free to drop us a line</h2><br></b>
        <div class="row">
           <div class="col-sm-3">
            <div class="float-right guy" >
                <img src="/img/guy.png" width="75%" class="float-right">
            </div>
           </div>
           <div class="col-sm-6">
                <div class="d-flex justify-content-center">
                       <div class="shadow form" style="width:100%">
                            <div class=" form">
                                <form method="post" action="/form/contact" >
                                        <!-- <div style="width:100%">
                                            
                                            <label>First Name</label><br>
                                            <input type="text" width="100%">  
                                        </div> -->
                                        <div class="row">
                                            <div class="col-sm-6">

                                                  <b>  <label>First Name</label></b><br>
                                                    <input type="text" name="firstName" size="25" required placeholder="First Name" height="600px">  
                                                
                                            </div>
                                            <div class="col-sm-6">
                                                   <b> <label>Last Name</label></b><br>
                                                    <input type="text" name="lastName" size="25" required placeholder="Last Name" height="600px">  
                                            </div>
                                            

                                        </div><br><br><br>
                                        <div >
                                                <b><label>Your Email Address</label></b><br>
                                                <input type="text" size="55" name="email" required placeholder="abc@example.com" height="600px">  
                                        </div><br><br><br>
                                        <div >
                                            <b><label>Which Related problems are you solving ?</label></b><br>
                                            <select style="width:100%;" name="relatedProblems" required>
                                                <option></option>
                                                <option value="1">we are facing</option>
                                                <option value="2">we are facing</option>
                                                <option value="3">we are facing</option>
                                                <option value="4">we are facing</option>
                                                <option value="5">we are facing</option>
                                            </select><br><br><br>
                                        </div>

                                        <div>
                                            <b><label>Type your message</label></b><br><br>
                                            <textarea name="message" required style="width: 100%"></textarea>
                                        </div><br><br>
                                        <div>
                                            <button class="button shadow">Submit</button>
                                        </div>
                                        
                                </form>
                            </div>
                       </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="float-left">
                    <img src="/img/girl.png" class="girl" width="90%">
                </div>
            </div>
        </div>
    </div><br><br><br>

</div>
<div class="section">
   <div class="container">
       <div class="">
            <div class="row">
                <div class="col-sm-3">
                    <h5 style="font-weight:bolder">Contact Us</h5><br>
                    <div class="row">
                        <div class="col-sm-1" style="padding-top:3px;"><i class="fa fa-user-circle-o" style="color: #999999" aria-hidden="true"></i></div>
                        <div class="col-sm-10" style="font-size:12px;font-weight:700;color:#999999">+(234) 809-220-5588</div>
                        <div class="col-sm-1"></div>
                    </div><br>
                     <div class="row">
                        <div class="col-sm-1"  style="padding-top:5px;"><i class="fa fa-map-marker"  style="color: #999999" aria-hidden="true"></i></div>
                        <div class="col-sm-10"  style="font-size:12px;font-weight:700;color:#999999">SW9/1148, Orita Challenge Ibadan, Oyo state, Nigeria.</div>
                        <div class="col-sm-1"></div>
                    </div><br>
                    <div class="row">
                        <div class="col-sm-1"  style="padding-top:5px;"><i class="fa fa-map-marker"  style="color: #999999" aria-hidden="true"></i></div>
                        <div class="col-sm-10"  style="font-size:12px;font-weight:700;color:#999999">Green Garage, House 5, FUTA South Akure, Ondo state, Nigeria.</div>
                        <div class="col-sm-1"></div>
                    </div><br>
                     <div class="row">
                        <div class="col-sm-1"  style="padding-top:3px;"><i class="fa fa-envelope"  style="color: #999999" aria-hidden="true"></i></div>
                        <div class="col-sm-10" style="font-size:12px;font-weight:700;color:#999999"><a href="mailto:info@greenlab-microfactory.org" style="color:#999999;font-weight:bolder">info@greenlab-microfactory.org</a></div>
                        <div class="col-sm-1"></div>
                    </div><br>

                </div>
                <div class="col-sm-3">
                        <h5 style="font-weight:bolder">Our Company </h5><br>
                       <div> <a href="/about"  style="font-size:12px;font-weight:700;color:#999999"> About</a></div><br>
                       <div> <a href="/idea"  style="font-size:12px;font-weight:700;color:#999999"> Have an Idea ?</a></div><br>
                       <div> <a href="/events"  style="font-size:12px;font-weight:700;color:#999999"> Publications</a></div><br>
                       <div> <a href="/about"  style="font-size:12px;font-weight:700;color:#999999"> Contact</a></div><br>
                    

                       
                </div>
                <div class="col-sm-3">
                        <h5 style="font-weight:bolder">Recent Update </h5><br>
                        <div> <a href="/news"  style="font-size:12px;font-weight:700;color:#999999"> Latest News</a></div><br>
                       <div> <a href="/socials"  style="font-size:12px;font-weight:700;color:#999999"> Socials</a></div><br>
                       <div> <a href="/greenmarket"  style="font-size:12px;font-weight:700;color:#999999"> GreenMarket</a></div><br>
                       <div> <a href="/contact"  style="font-size:12px;font-weight:700;color:#999999"> Contact</a></div><br>
                    

                </div> 
                 <div class="col-sm-3">
                    <h5 style="font-weight:bolder">Follow Us On</h5><br>
                    <a href="https://web.facebook.com/search/top/?q=greenlab%20microfactory&epa=SEARCH_BOX" style="font-size:20px;color:#707070;margin-right:25px;"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/greenlab_ng/" style="font-size:20px;color:#707070;margin-right:25px;"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/channel/UCS6xcdsK9eH8-B3ysK_dlaQ" style="font-size:20px;color:#707070;margin-right:25px;"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/company/greenlab-microfactory" style="font-size:20px;color:#707070"><i class="fa fa-linkedin" aria-hidden="true"></i></a>


                   
                    
                </div>
            </div>
       </div>
   </div>
</div>


<div class="section">
        <div class="">
            <div class="">
                <img src="/img/footer.png" width="100%" />
                 
            </div>
        </div>
</div>