<div class="header shadow "  >
    <div class="cont ">
        <div class="">
             <div class="row">
             <div class="col-sm-2">
               <a href="/">
                  <div class="image">
                      <div class="row">
                        <div class="col-sm-4">
                                <img src="/img/logosmall.png" width="115%">
                        </div>
                        <div class="col-sm-8" style="position:relative;right:4%">
                               <b  class="lab text-center">
                                    Greenlab
                               </b>
                               <b class="lab2 text-center">
                                    MICROFACTORY
                               </b>
                        </div>
                      </div>
                   
                    <span style="width:30px;"></span>
                    
                  </div>
               </a>
             </div>
             <div class="col-sm-10" >

                       
                         <nav class="navi float-right" style="margin-top:25px">
                           
                             <a href="/" style="color: #56D19D">Home</a>
                             <a href="/about" style="color: #707070">About Us</a>
                             <a href="/events" style="color: #707070">Events / Publications</a>
                             <a href="/news" style="color: #707070">News</a>
                             <a href="/testimonials" style="color: #707070">Testimonial</a>
                             <a class=" emp-button colo" href="#" >GreenMarket</a>
                             <a class="button shadow" href="/contact">Contact Us</a> 

                
             </div>
         </div>
        </div>
    </div>             
    
 </div>