<div class="main_content shadow-sm">
    <div class="container">
        <div class="row">
            <div class="header" >
                <img src="/img/Logo only.png" width="75%" >
            </div>
            <div class="navigation">
                <i data-toggle="modal" data-target="#exampleModalLong" class="fa fa-bars" aria-hidden="true" data-dismiss="modal"></i> 
            </div>
            
        </div>
    </div>
</div>

<div class="modal fade modale" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" >
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <button type="button" class="close navi" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="float-right" style="margin-right: 6px;cursor: pointer">&times;</span>
        </button> 
        <div class="modal-body">
            <nav style="margin-top:2%">
                <ul>
                    <li style=""><i class="fa fa-home" aria-hidden="true" style="margin-right: 15px;font-size:16px;color:#56D19D"></i><a href="/" style="">Home</a></li>
                    <li><i class="fa fa-briefcase"  aria-hidden="true" style="margin-right: 15px;font-size:16px;color:#56D19D"></i><a href="/about">About us</a></li>
                    <li  ><i class="fa fa-calendar " aria-hidden="true" style="margin-right: 15px;font-size:16px;color:#56D19D"></i><a href="/events">Events / Publications</a></li>
                    <li><i class="fa fa-bullhorn" aria-hidden="true" style="margin-right:15px;font-size:16px;color:#56D19D"></i><a href="/news">News</a></li>
                    <li><i class="fa fa-user" aria-hidden="true" style="margin-right:15px;font-size:16px;color:#56D19D"></i><a href="/testimonials">Testimonials</a></li>
                    <li class=""><i class="fa fa-phone" aria-hidden="true" style="margin-right: 15px;color:#56D19D"></i><a href="/contact">Contact us</a></li>
                    <div style=""><center><p></p><a href="/greenmarket" class="text-center" style="background-color:#56D19D;border-radius: 20px;font-size:16px;font-weight:bold;color:White; padding:10px 40px;"><i class="fa fa-cart-arrow-down" aria-hidden="true" style="margin-right: 10px;color:white"></i>Green Market</a><p></p> </center></div>
                </ul>
             
                
            </nav>
        </div>

    </div>
    </div>

</div>