<div class="section">
    <div class="container">
            <h2 class="text-center bolder">Publications.</h2><br>

            <div class="row  items animated" data-transition="" style="background-color: white;padding:20px;">
                    <div class="shadow-sm p-3" style="border-radius:10px">
                            <div class="col-sm-1" style="padding-top:7px;">
                                    <center><img src="/img/event/pdf.png" width="40%"></center>
                            </div>
                            <div class="col-sm-11 text-center" style="padding-top:10px;">
                                    <a href="/publications/Cartooino Project Book (Volume 1 ) .pdf" style="text-decoration:underline;color:#56D19D;font-weight:bolder">Cartooino Project Book for One Student One Arduino (Volume 1)</a><br>
                                    <b>This book is a cartoon adaptation of the Arduino project book. The essence is to provide a more relatable, understandable, and kid-friendly version of the Arduino project book.</b>
                            </div>
                    </div>
            </div><br>

            <div class="row  items animated" data-transition="" style="background-color: white;padding:20px;">
                    <div class="shadow-sm p-3" style="border-radius:10px">
                            <div class="col-sm-1" style="padding-top:7px;">
                                    <center><img src="/img/event/pdf.png" width="40%"></center>
                            </div>
                            <div class="col-sm-11 text-center" style="padding-top:10px;">
                                    <a href="/publications/Cartooino Project Book (volume 2).pdf" style="text-decoration:underline;color:#56D19D;font-weight:bolder">Cartooino Project Book for One Student One Arduino project (Volume 2)</a><br>
                                    <b>This book is a cartoon adaptation of the Arduino project book. The essence is to provide a more relatable, understandable, and kid-friendly version of the Arduino project book.</b>
                            </div>
                    </div>
            </div><br>

            <div class="row  items animated" data-transition="" style="background-color: white;padding:20px;">
                <div class="shadow-sm p-3" style="border-radius:10px">
                        <div class="col-sm-1" style="padding-top:7px;">
                                <center><img src="/img/event/pdf.png" width="40%"></center>
                        </div>
                        <div class="col-sm-11 text-center" style="padding-top:10px;">
                                <a href="/publications/Ajumose Report.pdf" style="text-decoration:underline;color:#56D19D;font-weight:bolder">Ajumose Community Project Report</a><br>
                                <b>Ajumose's Report</b>
                        </div>
                </div>
        </div><br>

            <div class="row  items animated" data-transition="" style="background-color: white;padding:20px;">
                    <div class="shadow-sm p-3" style="border-radius:10px">
                            <div class="col-sm-1" style="padding-top:7px;">
                                    <center><img src="/img/event/pdf.png" width="40%"></center>
                            </div>
                            <div class="col-sm-11 text-center" style="padding-top:10px;">
                                    <a href="/publications/LaFT FabLab research report June 2015 - Babasile Daniel.pdf" style="text-decoration:underline;color:#56D19D;font-weight:bolder">LaFT FabLab research report June 2015 - Babasile Daniel [7.5 MB]</a><br>
                                    <b>FabLab Report</b>
                            </div>
                    </div>
            </div><br>

            <div class="row  items animated" data-transition="" style="background-color: white;padding:20px;">
                    <div class="shadow-sm p-3" style="border-radius:10px">
                            <div class="col-sm-1" style="padding-top:7px;">
                                    <center><img src="/img/event/pdf.png" width="40%"></center>
                            </div>
                            <div class="col-sm-11 text-center" style="padding-top:10px;">
                                    <a href="/publications/greenMag First Edition.pdf" style="text-decoration:underline;color:#56D19D;font-weight:bolder">Green Magazine's First Edition [10.3MB]</a><br>
                                    <b>GreenLab Microfactory's Project Magazine</b>
                            </div>
                    </div>
            </div><br>

            
    </div>
</div>